<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    <h1 class="content is-large has-text-centered">Atari</h1>
    <p class="content is-medium mx-5">Founded in Sunnydale, California by Nolan Bushnell and Ted Dabney in 1972, Atari's Pong is widely recognizedc as defining properties of the nacent video game industry. Atari has since been bought by many companies and now exisits  as Atari SA in France. Recent endeavors include forays into cryptocurrency and video-game themed hotels.  </p>>

    <%for (let i =0; i < products.length; i++){ %>
        <% if (products[i].company === "Atari") { %>
         <div class ="product-cards box">
     <a href="<%=products[i]._id%>">
         <p><%=products[i].company%></p>
         <p> <%=products[i].console%> </p>
         <p><%=products[i].product%></p>
         <img src="<%=products[i].img%>">
     </a>
     </div>
     <%    } %>
     <%   } %>

    <%- include ('./partials/footer.ejs') %>
</body>
</html>