<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

    <div class="box">
        <h2 class="content is-large has-text-centered">Scheduled Appointments</h2>
        <h2 class="content is-medium">Find Your Appointment Here</h2>
        <% for (let i = 0; i < services.length; i++) { %>
           <div class="box">
            <h3><%=services[i].name%></h3>   
            <h3><%=services[i].store%></h3>
            <h3><%=services[i].service%></h3>
            <a class="button notification is-warning"href="/<%=services[i].id%>/editservice">Edit Your Appointment</a>
           </div>
           <% } %>

       </div>   
    <%- include ('./partials/footer.ejs') %>
</body>
</html>