<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    
    <form action="/<%=services.id%>?_method=PUT" method="POST">
        <label class="label mx-2"> Name</label>
        <input class="content mx-2" type="text" name="name" value="<%=services.name%>"/>
        <br/><br/>

        <label class="label mx-2"> Location</label>  
        <select  class="select mx-2" name="store" id="storeLocation" value="<%=services.store%>">
            <option value="Boston, MA">Boston, MA</option>
            <option value="Plano, TX">Plano, TX</option>
            <option value="Seattle, WA">Seattle, WA</option>
            <option value="Orlando, FL">Orlando, FL</option>
            <option value="New York, NY">New York, NY</option>
            <option value="Raleigh, NC">Raleigh, NC</option>
            <option value="Austin, TX">Austin, TX</option>
            <option value="Los Angeles, CA">Los Angeles, CA</option>
            <option value="Los Vegas, NV">Los Vegas, NV</option>
            <option value="Atlanta, GA">Atlanta, GA</option>
            <option value="online">Remote (Streaming Consults only)</option>
        </select>
        <br/><br/>

        <label class="label mx-2"> Service</label> 
        <select lass="select mx-2" name="service" id="serviceType" value="<%=services.service%>">
            <option value="Cable Testing">Cable Testing</option>
            <option value="Streaming Consultation">Streaming Consultation</option>
        </select>
        <br/><br/>

        <label class="label mx-2"> Date</label>
        <input class="content mx-2" type="date" name="date" value="<%=services.date%>"> 
        <br/><br/>

        <label class="label mx-2"> Time</label> 
        <input  class="content mx-2"type="time" name="time" min="9:00" max="17:30" value="<%=services.time%>"> 
        Appointment hours are from 9:00 AM - 5:30 PM, local time.
        <br/><br/>
        <label class="label mx-2">Details</label> 
        <textarea class="textarea mx-5" value="<%=services.details%>"></textarea>
        <button class="button is-primary" type="submit">Confirm Changes</button>
    </form>
    <form action="/<%=services._id; %>?_method=DELETE" method="POST">
        <button class="button is-danger" type="submit" value="DELETE"> Cancel This Appointment </button>
    </form>
    
    <%- include ('./partials/footer.ejs') %>
</body>
</html>