<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>
    
    <form action="/<%=services.id%>?_method=PUT" method="POST">
        Name: 
        <input type="text" name="name" value="<%=services.name%>"/>
        <br/><br/>

        store: 
        <select name="store" id="storeLocation" value="<%=services.store%>">
            <option value="Boston, MA">Boston, MA</option>
            <option value="Plano, TX">Plano, TX</option>
            <option value="Seattle, WA">Seattle, WA</option>
            <option value="Orlando, FL">Orlando, FL</option>
            <option value="New York, NY">New York, NY</option>
            <option value="Raleigh, NC">Raleigh, NC</option>
            <option value="Austin, TX">Austin, TX</option>
            <option value="Los Angeles, CA">Los Angeles, CA</option>
            <option value="Los Vegas, NV">Los Vegas, NV</option>
            <option value="Atlanta, GA">Atlanta, GA</option>
            <option value="online">Remote (Streaming Consults only)</option>
        </select>
        <br/><br/>

        service: 
        <select name="service" id="serviceType" value="<%=services.service%>">
            <option value="Cable Testing">Cable Testing</option>
            <option value="Streaming Consultation">Streaming Consulation</option>
        </select>
        <br/><br/>

        Date:
        <input type="date" name="date" value="<%=services.date%>"> 
        <br/><br/>

        <p>time: Appointment hours are from 9:00 AM - 5:30 PM, local time.</p>
        <input type="time" name="time" min="9:00" max="17:30" value="<%=services.time%>"> 
        <br/><br/>
        <button class="button is-primary" type="submit">Confirm Changes</button>
    </form>
    <form action="/<%=services._id; %>?_method=DELETE" method="POST">
        <button class="button is-danger" type="submit" value="DELETE"> Cancel This Appointment </button>
    </form>
    
    <%- include ('./partials/footer.ejs') %>
</body>
</html>