<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

    <h1 class="content is-large mx-5">Sega</h1>
    <p class ="content is-medium mx-5">Now widely known as a Japanese gaming company, Sega originated in 1940 as Standard Games, based in Hawaii. The company was renamed Service Games of Japan upon its move to Japan in 1952. Sega's was Nintendo's main rival for supremacy of the gaming market in the 1980s. Sega ceased console development in 2001. </p>

    <%for (let i =0; i < products.length; i++){ %>
        <% if (products[i].company === "Sega") { %>
         <div class ="product-cards box">
     <a href="<%=products[i]._id%>">
         <p><%=products[i].company%></p>
         <p> <%=products[i].console%> </p>
         <p><%=products[i].product%></p>
         <img src="<%=products[i].img%>">
     </a>
     </div>
     <%    } %>
     <%   } %>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>