<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

<!-- 
<div class="carousel" id="sega-container">
    <h1>Sega</h1>
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
            <img src="" alt="" />
         </div>
         <div class="carousel-button" class="next">
             
         </div>
    </div>
</div>
<div class="carousel" id="nintendo-container">
    <h1>Nintendo</h1>
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div>
<div class="carousel" id="sony-container">
    <h1>Sony</h1>
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div>
<div class="carousel" id="atari-container">
    <h1>Atari</h1>
    <div class="carousel-container">
        <div class="carousel-button" class="previous">

        </div>
         <div class="carousel-images">

         </div>
         <div class="carousel-button" class="next"></div>
    </div>
</div> -->

<% for (let i = 0; i < products.length; i++) { %>
    <li>
      <a href="/index/<%=products[i]._id%>">
         <h3><%=products[i].console%> | <%=products[i].product%></h3>
         <img src="<%=products[i].img%>">
        </a>
     <div class="buttons">
       <form action="/index/<%=products[i]._id%>/edit" method="GET">
         <button type="submit" href="/index/<%=products[i]._id%>/edit" > EDIT</button>
       </form>
       <form action="/index/<%=products[i].id; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
    </div>
    </li>
<% } %>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>