<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

        <%for (let i =0; i < products.length; i++){ %>
            <div class ="product-cards box">
        <a href="<%=products[i]._id%>">
            <p><%=products[i].company%></p>
            <p> <%=products[i].console%> </p>
            <p><%=products[i].product%></p>
            <img src="<%=products[i].img%>">
        </a>
        </div>
        <%   } %>
                  
                    
               

    

    <%- include ('./partials/footer.ejs') %>
</body>
</html>