<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/nav.ejs') %>

    <div id="showProduct">
        <img src="<%=products.img%>"/>
        <div class="itemDescription">
            <h3> <%=products.company%>  <%=products.console%></h3>
            <h4><%=products.product%></h3>
            <h4>Price: $<%=products.price%></h4>
            <h3> In Stock: <%=products.inStock%> | Quantity: <%=products.quantity%></h3>
        </div>
        <div class="shopButtons">
            <form action="/cart/<%=products._id%>/" method="POST">
                <select class="dropdown" name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <!-- <form action="/cart" method="POST"> -->
                   
                <!-- </form> -->
            </form>
            <button type="submit" class="button is-primary">Add to Cart</button>
            <form action="/" method="GET">
                <button class="button is-info"type="submit" href="/" > Back to Home</button>
            </form>
        </div>  
    </div>
    <%- include ('./partials/footer.ejs') %>

</body>
</html>
